$color-primaire:#9356DC;
$color-secondaire:#FF79D9;
$color-tertiaire: #99E2D0;
$color-font: #008766;
$color-background: #F6F6F6;
$color-gradient: linear-gradient(193.33deg, $color-primaire -11.44%, $color-secondaire 123.93%);


$gs:20px;