header{
    height:60px;
    display: flex;
    align-items: center;
    .header__title{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            display: none;
        }
        img {
            width: 200px;
        }
    }
    .header__return{
        position:absolute;
        margin:17px;

        &--link{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

// header i{
//     position:absolute;
//     padding: 24px;
// }