.card2{
    background-color: white;
    border-radius: 20px;
    margin-top:12px;
    padding: 15px;
    gap:5px;
    display: flex;
    flex-direction: column;
    @include shadow;

    &__title{
        font-size: 18px;
    }
    
    &__content{
        display: flex;
        justify-content: space-between;

        &--price{
            font-weight: 700;
            font-size: 18px;
        }
    }

}