* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 100%;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 16px;
  padding-bottom: 5px;
}

header {
  height: 60px;
}
header .header__title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header__title h1 {
  display: none;
}
header .header__title img {
  width: 200px;
}

.main-container {
  animation: loader-appear 3s 0.25s both;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: white;
  font-family: "Shrikhand";
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__elt {
  font-family: "Shrikhand";
  animation: loader 1.5s 0.25s both;
}
.loader__elt--1 {
  color: #9356DC;
}
.loader__elt--2 {
  color: #FF79D9;
  animation-delay: 0.5s;
}
.loader__elt--3 {
  color: #99E2D0;
  animation-delay: 1s;
}

@keyframes loader-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: translateY(-600px);
  }
  25% {
    transform: translateY(200px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
footer .section__logo {
  font-family: "Shrikhand";
  font-size: 18px;
}
footer .section__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .section__list li {
  margin-bottom: 10px;
}

.btn {
  position: relative;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79D9 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px 0 18px;
  color: white;
  font-weight: 500;
}
.btn .btn__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79D9 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.card {
  height: 251px;
  background-color: white;
  border-radius: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 231px;
  margin-top: -57px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px;
}
.card__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sd {
  display: flex;
  align-items: center;
}
.sd .sd__num {
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sd .sd__txt {
  width: 100%;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 0 13px 0 13px;
  padding: 0 25px 0 25px;
  gap: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.localisation {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section {
  padding: 40px 18px 40px 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F6F6F6;
}

.section-center {
  align-items: center;
  text-align: center;
}

.section-white {
  background-color: white;
}

.section-grey {
  background-color: #353535;
  color: white;
}/*# sourceMappingURL=main.css.map */