.localisation{
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:$gs;

    &__input{
        height:21px;
        border:none;
        outline:none;
        background: transparent;

        &::placeholder{
            font-size: 16px;
            font-weight: 500;
            color:black;
        }
    }
}