.presentation{
    width: 100%;
    height:275px;
    &__img{
        object-fit: cover;
        width: 100%;
        height:100%;
    }
}

.menu{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -45px;
    padding-bottom: 0;
    position:relative;
    gap:40px;

    &__resto{
        display: flex;
        justify-content: space-between;

        @media(min-width:769px){
        justify-content: center;
        gap:20px;
        }
    }

    .card__like{
        margin-right: 18px;
    }

    &__title{
        font-size:28px;
        font-family:'Shrikhand';
        font-style:italic;
        font-weight: 400;

    }

    &__content{
        opacity:0;
        animation: appear 1.5s ease-in-out both;
    }

    .item2{
        animation-delay: 1s;
    }

    .item3{
        animation-delay: 2s;
    }

    &__subtitle{
        font-weight: lighter;
        font-size: 16px;
        border-bottom: 3px solid $color-tertiaire;
        width:40px;
    }

    @media (min-width:1024px){
        margin-left: 180px;
        margin-right: 180px;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }

    to{
        opacity:1
    }
}