.presentation{
    width: 100%;
    height:275px;
    &__img{
        object-fit: cover;
        width: 100%;
        height:100%;
    }
}

.menu{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -45px;
    padding-bottom: 0;
    position:relative;
    gap:40px;

    &__resto{
        display: flex;
        justify-content: space-between;
    }

    .card__like{
        margin-right: 18px;
    }

    &__title{
        font-size:28px;
        font-family:'Shrikhand';
    }

    &__subtitle{
        font-weight: lighter;
        font-size: 16px;
        border-bottom: 3px solid $color-tertiaire;
        width:40px;

    }

    .card2{
        animation: appear 500ms;
    }
}

@keyframes appear {
    from{
        transform: translateX(2000);
    }

    to{
        transform: translateX(0);
    }
}