h2{
    // font-family: 'Shrikhand';
}


.presentation{
    width: 100%;
    height:275px;
    z-index:-1;

    &__img{
        object-fit: cover;
        width: 100%;
        height:100%;
    }
}

.menu{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -40px;
}